@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?63201621");
  src: url("../font/fontello.eot?63201621#iefix") format("embedded-opentype"),
    url("../font/fontello.woff?63201621") format("woff"),
    url("../font/fontello.ttf?63201621") format("truetype"),
    url("../font/fontello.svg?63201621#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
