$headersFont: "Oswald", sans-serif;
$mainFont: "Raleway", sans-serif;

$mainFontSize: 18px;

$headerColor: #ffffff;
$mainColor: #000000;

$bgFirstColor: #ffffff;
$bgSecondColor: #f0f0f0;

$elastic: (
  position: left,
  backgroundColor: $bgFirstColor,
  duration: 300,
);

$position: map-get($elastic, "position");
$backgroundColor: map-get($elastic, "backgroundColor");
$duration: map-get($elastic, "duration");
